body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: 300;
}

.paren {
  font-size: 30px;
  font-weight: 300;
  margin-top: -8px;
}

.pouches {
  width: 1100px;
  padding: 3px;
}

.pouch, .static-container {
  min-height: 100px;
  width: 500px;
  border: 1px rgb(240, 240, 240) solid;
  padding: 10px;
  margin: 5px;
}

.pouch {
  float: left;
}

.pouch .name {
  font-weight: 300;
  text-decoration: underline;
  padding-bottom: 15px;
}

.over {
  border: 1px solid black;
}

.parameter .parameter-data {
  border-radius: 2px;
  cursor: pointer;
  padding: 2px;
}

.parameter .parameter-data:hover {
  border: 1px solid black;
}

.parameter input.option-input {
  border-radius: 0px;
  height: 14px;
  width: 40px;
  margin: 0 0 2px 0;
}

.vision-docs .vision-doc {
  width: 30px;
  height: 50px;
  border: 1px solid black;
  margin: 2px;
}

.vision-docs .vision-doc .vision-doc-color {
  width: 30px;
  height: 15px;
  border-bottom: 1px solid black;
}

.vision-docs .vision-doc.selected {
  background-color: rgb(210,210,210);
}

.vision-docs .vision-doc-container {
  display: inline-block;
}

.vision-docs .vision-popup-container {
  position: absolute;
  background-color: white;
  border: 1px rgb(240, 240, 240) solid;
  padding: 5px;
}

.vision-docs .vision-popup-container .title {
  text-align: center;
}

.vision-docs {
  margin: 5px;
  height: 50px;
}

.parameter .json, .parameter .string, .parameter .array {
  width: 380px;
  border: 1px rgb(240, 240, 240) solid;
  margin: 25px 0;
  position: absolute;
  background-color: white;
}

.response {
  height: 100px;
  overflow: auto;
  background-color: #ffffd0;
  margin: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.row {
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

.gone {
  display: none;
}

