.environment .paren {
  font-size: 30px;
  font-weight: bold;
}

.environment {
  min-height: 100px;
}

.parameter .parameter-data {
  cursor: pointer;
  padding: 2px;
  margin: 0 padding2px;
}

.parameter .parameter-data:hover {
  background-color: rgb(240,240,240);
}

.parameter input.option-input {
  border-radius: 0px;
  height: 14px;
  width: 40px;
  margin: 0 0 2px 0;
}

.parameter .json {
  border: 1px black solid;
}

.docs .doc {
  width: 30px;
  height: 50px;
  background-color: #ffeccf;
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
}
