body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.paren {
  font-size: 30px;
  font-weight: bold;
}

.environment {
  min-height: 100px;
}

.parameter .parameter-data {
  cursor: pointer;
  padding: 2px;
  margin: 0 padding2px;
}

.parameter .parameter-data:hover {
  background-color: rgb(240,240,240);
}

.parameter input.option-input {
  border-radius: 0px;
  height: 14px;
  width: 40px;
  margin: 0 0 2px 0;
}

.docs .doc {
  width: 30px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
}

.json, .string {
  width: 380px;
  border: 1px rgb(240, 240, 240) solid;
  margin: 20px 0;
  position: absolute;
  background-color: white;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.row {
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

.gone {
  display: none;
}

